[Unit]
AssertPathExists=path_to_the_bot_directory
AssertPathIsDirectory=path_to_the_bot_directory
AssertDirectoryNotEmpty=path_to_the_bot_directory
AssertPathExists=path_to_the_bot_directory/main.py
AssertFileNotEmpty=path_to_the_bot_directory/main.py
After=network.target
Description=Service that run the script that manage a UserBot

[Service]
ExecStart=python3 main.py
Restart=on-failure
RestartSec=5s
Type=simple
User=my_user
WorkingDirectory=path_to_the_bot_directory

[Install]
Alias=userbot.service
WantedBy=multi-user.target
