[Install]
Alias=userbot.service

[Service]
ExecStart=python3.7 main.py
RemainAfterExit=no
Restart=on-failure
Type=simple
User=myUser
WorkingDirectory=path

[Unit]
After=network.target
CollectMode=inactive
DefaultDependencies=yes
Description=Service that run the script that manage a UserBot
FailureAction=reboot
SuccessAction=none
Wants=multi-user.target
